<div class="flex items-center justify-between border border-x-0">
  <button (click)="handleBackClick()" [disabled]="pagination.first" class="p-2 text-primary mx-0.5 rounded cursor-pointer disabled:text-gray-400" >
    back
  </button>

  <div>
    <button *ngFor="let pageNumber of pagesNumbers" (click)="handlePageNumberClick(pageNumber)" [class]="pagination.number == pageNumber ? 'bg-primary text-white' : ''"  class="w-8 text-primary mx-0.5 rounded cursor-pointer rounded-full" >
      {{ pageNumber }}
    </button>
  </div>

  <button (click)="handleNextClick()" [disabled]="pagination.last" class="p-2 text-primary mx-0.5 rounded cursor-pointer disabled:text-gray-400" >
    next
  </button>
</div>
