<p>Register recruiter --</p>
<form [formGroup]="form">
  <fieldset>
    <legend>Create account</legend>
    <div class="form-field">
      <label>Email:</label>
      <input name="email" formControlName="email" class="p-2 border">
    </div>
    <div class="form-field">
      <label>Company name:</label>
      <input name="companyName" formControlName="companyName" class="p-2 border">
    </div>
    <div class="form-field">
      <label>Phone number:</label>
      <input name="phone" formControlName="phone" type="tel" class="p-2 border">
    </div>
    <div class="form-field">
      <label>Password:</label>
      <input name="password" formControlName="password" type="password" class="p-2 border">
    </div>
  </fieldset>
  <div class="form-buttons">
    <button (click)="register()" class="button button-primary p-2 bg-cyan-600 text-white">Register</button>
  </div>

 <div class="p-2 bg-blue-300 m-6">
   <app-update-profile-image></app-update-profile-image>
 </div>

</form>
