<div>
  <h1 class="m-3 text-2xl">List of offers --</h1>
  <div *ngFor="let offer of offers" class="p-3 border border-green-700 rounded m-3">
    <p> Title: {{offer.title}} | Job title: {{offer?.jobTitle?.name}} </p>
    <p> City: {{offer.description}} </p>
    <p> Education: {{offer?.education?.name}} </p>
    <p> Salary: {{offer.salary}} </p>
  </div>
  <div>
    <button (click)="getOffersByPage(number-1)" [disabled]="first" class="p-3 bg-green-600 text-white mx-0.5 rounded cursor-pointer disabled:bg-gray-600" >
      back
    </button>

    <button *ngFor="let pageNumber of totalPages" (click)="getOffersByPage(pageNumber)"  class="p-3 bg-blue-600 text-white mx-0.5 rounded cursor-pointer" >
      {{ pageNumber }}
    </button>

    <button (click)="getOffersByPage(number+1)" [disabled]="last" class="p-3 bg-green-600 text-white mx-0.5 rounded cursor-pointer disabled:bg-gray-600" >
      next
    </button>
  </div>
</div>
