<div class="flex items-center p-3 mt-3 space-x-6 bg-white rounded shadow-sm">
  <div class="flex bg-gray-100 rounded flex-1">
    <input [(ngModel)]="title" class="bg-gray-100 rounded outline-none w-full h-full border-none p-3" type="text" placeholder="Offer by keyword..." />
  </div>
  <div class="flex bg-gray-100 rounded flex-1">
    <select (change)="setJobTitleId($event)" class="bg-gray-100 rounded outline-none w-full h-full border-none p-3 text-gray-600">
      <option value="0" selected="true">All job titles</option>
      <option *ngFor="let jt of jobTitlesList" [value]="jt.id">{{ jt.name }}</option>
    </select>
  </div>
  <div class="flex bg-gray-100 rounded flex-1">
    <input [(ngModel)]="city" class="bg-gray-100 rounded outline-none w-full h-full border-none p-3" type="text" placeholder="Enter city name" />
  </div>

  <button (click)="handleSearchClick()"  class="flex gap-x-1 items-center bg-blue-900 py-3 px-5 text-white font-semibold rounded hover:shadow-lg transition duration-3000 cursor-pointer">
    <span>Search</span> <mat-icon class="text-gray-200">search</mat-icon>
  </button>
</div>
